<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byType"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd 
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<context:property-placeholder location="classpath*:/properties/jdbc.properties" />
	<!-- 引入数据源 -->
	<bean name="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
		init-method="init">
		<property name="driverClassName" value="${database.stdm.driver.name}" />
		<property name="url" value="${database.stdm.url}" />
		<property name="username" value="${database.stdm.user.name}" />
		<property name="password" value="${database.stdm.user.password}" />
		<!-- 初始化连接大小 -->
		<property name="initialSize" value="${database.stdm.initial.size}" />
		<!-- 连接池最大使用连接数量 -->
		<property name="maxActive" value="${database.stdm.active.max.size}" />
		<!-- 连接池最大空闲 -->
		<property name="maxIdle" value="${database.stdm.active.max.idle}" />
		<!-- 连接池最小空闲 -->
		<property name="minIdle" value="${database.stdm.active.min.idle}" />
		<!-- 获取连接最大等待时间 -->
		<property name="maxWait" value="${database.stdm.active.max.wait}" />

		<!-- <property name="poolPreparedStatements" value="true" /> <property 
			name="maxPoolPreparedStatementPerConnectionSize" value="33" /> -->

		<property name="testOnBorrow" value="false" />
		<property name="testOnReturn" value="false" />
		<property name="testWhileIdle" value="true" />

		<!-- 配置间隔多久才进行一次检测，关闭的空闲连接，单位是毫秒 -->
		<property name="timeBetweenEvictionRunsMillis" value="60000" />
		<!-- 配置数据库连接在池中最小生存的时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="25200000" />

		<!-- 打开removeAbandoned功能 -->
		<property name="removeAbandoned" value="true" />
		<!-- 1800秒，也就30分钟 -->
		<property name="removeAbandonedTimeout" value="1800" />
		<!-- 关闭abanded连接时输出错误日 -->
		<property name="logAbandoned" value="true" />

		<!-- 监控数据 -->
		<!-- <property name="filters" value="stat" /> -->
		<property name="filters" value="mergeStat" />
	</bean>


	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 把数据源注入sqlSessionFactory，该factory用于生成dao包中的bean -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- mybaits-mapper.xml里面记录了一个文件列表，每个文件对应dao接口 -->
		<property name="mapperLocations" value="classpath*:mapper/*Dao.xml"></property>
	</bean>
</beans>
      